.heading2 {
  color: blue;
}

h3 {
  color: green;
}

/* # is for IDs */
#h2-selector-byID {
  color: blue;
}

/* . is for Classes */
.h2-selector-byClass {
  color: orange;
}

/* Select multiplbe IDs */
#welcome, #about {
  border: 1px solid;
  margin: 5px 0;
}

/* Nested Selectors */
#welcome p {
  font-size: 20px;
}

/* * symbol selects the window, or called browser */

* {
  margin: 0;
  padding: 0;
}