div {
  margin: 10px;
  padding: 10px 0;
}

.heading2 {
  color: blue;
}

h3 {
  color: green;
}

/* # is for IDs */
#h2-selector-byID {
  color: blue;
}

/* . is for Classes */
.h2-selector-byClass {
  color: orange;
}

/* Select multiplbe IDs */
#welcome, #about {
  border: 1px solid;
  margin: 5px 0;
}

/* Nested Selectors */
#welcome p {
  font-size: 20px;
}

/* * symbol selects the window, or called browser */

* {
  margin: 0;
  padding: 0;
}

/* A typical method is to set the HTML font-size to 62.5%. That's because 62.5% of 16px (typical default browser font-size) is 10px. That would still make 1.6rem = 16px. This now means that if the user's default browser font-size is changed to, for example, 20px, 1.6rem would now equal 20px. */
html { /* root element */
  font-size: 62.5%;
}

/* FONTS */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem; /* 16px = 1rem */
}

#fontLesson1 span {
  font-weight: bold;
}

#fontLesson2 span {
  font-style: italic;
}

/* COLORS */

.colors h1 {
  color:blue;
}

.colors h2 {
  color: rgb(0,105,0);
}

.colors h3 {
  color: #fff;
  background-color: #333;
}